@model IEnumerable<BIDC_CreditContracts.Models.GuarantorViewKhmer>
<div id="ListGuarantor">
    <h3>List Guarantor</h3>
    @foreach (var item in Model)
    {
        <fieldset>
            <table class="table">
                <tr>
                    <th>ឈ្មោះអ្នកធានា</th>
                    <th>អត្តសញ្ញាណប័ណ្ឌ/លិខិតឆ្លងដែន</th>
                    <th>កាលបរិច្ឆេទចេញផ្សាយ</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.GuarantorName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Passport)</td>
                    <td>@Html.DisplayFor(modelItem => item.PassportDate)</td>
                </tr>
            </table>
        </fieldset>
    }
</div>
